<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<!--[if lt IE 9]>
<script type="text/javascript" src="{{=relpath}}/static/asset/html5.js"></script>
<![endif]-->

<link rel="stylesheet" href="{{=relpath}}/static/bootstrap/css/bootstrap.min.css"/>
<link href="{{=relpath}}/static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
<link rel="stylesheet" href="{{=relpath}}/static/docs.css"/>
<link href="{{=relpath}}/static/asset/prettify.css" rel="stylesheet">
<link href="{{=relpath}}/static/toc/toc.css" rel="stylesheet">
<link href="{{=relpath}}/static/bootheme.css" rel="stylesheet">
<link rel="stylesheet" href="{{=relpath}}/static/parm.css"/>
<link rel="stylesheet" href="{{=relpath}}/static/asset/{{=pre_css}}.css"/>
{{for c in custom_css:}}
<link rel="stylesheet" href="{{=c}}"/>
{{pass}}
<title>{{=title}}</title>
</head>
<body>

{{
def menu(current='home'):
    for id, caption, link in menus:
        if id == current:
            out.write('<li class="active" id="menu_%s"><a href="%s/%s"><span>%s</span></a></li>' % (id, relpath, link, caption), escape=False)
        else:
            out.write('<li id="menu_%s"><a href="%s/%s"><span>%s</span></a></li>' % (id, relpath, link, caption), escape=False)
        pass
    pass
pass
}}

<!-- Navbar
================================================== -->
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="{{=project_url}}">{{=project}}</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          {{block menu}}
          {{menu('home')}}
          {{end}}
        </ul>
      </div>
    </div>
  </div>
</div>

{{block content}}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3" id="topic">
      <div id="toc" class="content"></div>
    </div>
    <div class="span9" id="article">
      <div class="outter">
    
          <div class="outter-inner" id="markdown-content">
            <div class="expander">
              <div>&laquo;</div>
            </div>
            
            <!-- prev_next_top -->

            {{<< body}}
            
            <!-- prev_next_down -->
            
            <div class="source">
                <i class="icon-download"></i>{{<< source}}
            </div>
          </div>
          
          {{<< defined('page_footer') or ''}}
        
          {{<< defined('footer') or ''}}
      </div>

    </div>
  </div>
</div>
{{end}}

<script type="text/javascript" src="{{=relpath}}/static/jquery/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="{{=relpath}}/static/bootstrap/js/bootstrap.min.js"></script>
<script src="{{=relpath}}/static/asset/prettify.js"></script>
<script src="{{=relpath}}/static/toc/toc.js"></script>
<script src="{{=relpath}}/static/docs.js"></script>
<script src="{{=relpath}}/static/comment.js"></script>
<script src="{{=relpath}}/static/jquery.hotkeys.js"></script>

</body>
</html>
